[importlinter]
root_package = dotter

[importlinter:contract:1]
name = Layered architecture
type = layers
layers =
    (dotter.runtime)
    (dotter.ui)
    (dotter.audio)
    (dotter.staging)
    (dotter.save)
    (dotter.scenes)
    (dotter.core)
exhaustive = false
